<div><p>Avantor is a leading life science tools company and global provider of mission-critical products and services to the life sciences and advanced technology industries. We work side-by-side with customers at every step of the scientific journey to enable breakthroughs in medicine, healthcare, and technology. Our portfolio is used in virtually every stage of the most important research, development and production activities at more than 300,000 customer locations in 180 countries. For more information, find us on <a href="https://www.linkedin.com/company/avantorinc/">LinkedIn</a>, <a href="https://twitter.com/Avantor_News">X (Twitter)</a> and <a href="https://www.facebook.com/Avantorinc/">Facebook</a>.</p></div>
<div><h4 id="shopping">Shopping</h4><ul>
<li><a href="https://www.avantorsciences.com/us/en/support/promotions">Promotions</a></li>
<li><a href="https://www.avantorsciences.com/us/en/applications/lab-startup-program">New Lab Start-Up</a></li>
<li><a href="https://www.avantorsciences.com/us/en/support/promotions/clearance-sale">Clearance Sale</a></li>
<li><a href="https://www.avantorsciences.com/us/en/products">All Products</a></li>
<li><a href="https://www.avantorsciences.com/us/en/support/literature">Literature</a></li>
</ul></div>
<div><h4 id="customer-support">Customer Support</h4><ul>
<li><a href="https://www.avantorsciences.com/us/en/support/managing-your-account/wims-order-tracking">Track Order</a></li>
<li><a href="https://www.avantorsciences.com/us/en/support/contact">Global Contact</a></li>
<li><a href="https://www.avantorsciences.com/us/en/support/local-contacts">Local Contact</a></li>
<li><a href="https://www.avantorsciences.com/us/en/support/managing-your-account/vwr-returns">Returns</a></li>
<li><a href="https://www.avantorsciences.com/us/en/support/help-center">Help Center</a></li>
<li><a href="https://www.avantorsciences.com/us/en/about/code-of-ethics">Ethics Helpline</a></li>
</ul></div>
<div><h4 id="work-with-avantor">Work With Avantor</h4><ul>
<li><a href="https://www.avantorsciences.com/us/en/support/how-to-ship">How To Ship</a></li>
<li><a href="https://www.avantorsciences.com/us/en/support/how-to-sell">How To Sell</a></li>
<li><a href="https://www.avantorsciences.com/us/en/channelPartner/getDetails">Find a Channel Partner</a></li>
</ul></div>
<div><h4 id="investors">Investors</h4><ul>
<li><a href="https://ir.avantorsciences.com/investors/news-and-events/news/default.aspx">News</a></li>
<li><a href="https://ir.avantorsciences.com/investors/financials/default.aspx">Financials</a></li>
<li><a href="https://ir.avantorsciences.com/investors/stock-information/default.aspx">Stock Information</a></li>
</ul></div>
<div><h4 id="careers">Careers</h4><ul>
<li><a href="https://careers.avantorsciences.com/global/en/home">Careers Home</a></li>
<li><a href="https://careers.avantorsciences.com/global/en/search-results">Open Roles</a></li>
</ul></div>
<div><ul>
<li><a href="https://www.avantorsciences.com/us/en/support/terms-and-conditions">Terms and Conditions</a></li>
<li><a href="https://www.avantorsciences.com/us/en/terms">Terms of Use</a></li>
<li><a href="https://www.avantorsciences.com/us/en/privacy-policy">Privacy Policy</a></li>
<li><a href="https://careers.avantorsciences.com/global/en/eeo-statement">Equal Opportunity Statement</a></li>
<li><a href="https://www.avantorsciences.com/us/en/consent">Do Not Share My Personal Information</a></li>
</ul></div>
<div><p><picture><source srcset="https://www.avantorsciences.com/content/dam/avantor-redesign/avantor-logo-tm-rgb.svg"><source srcset="https://www.avantorsciences.com/content/dam/avantor-redesign/avantor-logo-tm-rgb.svg" media="(min-width: 600px)"><img src="https://www.avantorsciences.com/content/dam/avantor-redesign/avantor-logo-tm-rgb.svg" alt="Avantor" loading="lazy"></picture></p><p>(c) Avantor, Inc.</p></div>