<body><main><div><ul>
<li><a href="/"><picture><source srcset="https://www.avantorsciences.com/content/dam/avantor-redesign/avantor-logo-tm-rgb.svg"><source srcset="https://www.avantorsciences.com/content/dam/avantor-redesign/avantor-logo-tm-rgb.svg" media="(min-width: 600px)"><img src="https://www.avantorsciences.com/content/dam/avantor-redesign/avantor-logo-tm-rgb.svg" alt="Avantor" loading="lazy"></picture></a></li>
</ul></div>
<div><ul>
<li><a href="https://www.avantorsciences.com/us/en/products">Products</a></li>
<li><a href="https://www.avantorsciences.com/us/en/services">Services</a></li>
<li><a href="https://www.avantorsciences.com/us/en/digital-solutions">Digital Solutions</a></li>
<li><a href="https://www.avantorsciences.com/us/en/applications">Applications</a></li>
<li><a href="https://www.avantorsciences.com/us/en/support">Support</a></li>
<li><a href="https://www.avantorsciences.com/us/en/about/who-we-are">About</a></li>
</ul></div>
<div><ul>
<li><a href="https://www.avantorsciences.com/us/en/my-account/quick-order">Order Entry</a></li>
<li><a href="/tools/widgets/toggle">:toggle:</a></li>
</ul></div></main></body>
